<span class='card-header-link'><%= link_to 'New Card', new_card_path, class: 'link-to-text-color' %></span>

<div class="scroller">
  <% idx = 0 %>
  <% @cards.each do |card| %>
    <% idx += 1 %>
    <div class="card-container item #{'active' if idx == 1}">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <span></span>
            <span class = "card-name"><%= card.name %></span>
          </div>

          <div class="face back">
             <p><%= card.first_ingredient %></p>
             <p><%= card.second_ingredient %></p>
             <p><%= card.third_ingredient %></p>
             <p><%= card.fourth_ingredient %></p>
             <p><%= card.fifth_ingredient %></p>
             <p><%= card.sixth_ingredient %></p>
             <p><%= card.mix_method %></p>
             <p><%= card.garnish %></p>

          </div>
        </div> <!-- Card -->
      </div> <!-- Flip -->
      <span class='card-header-link'><%= link_to 'Edit', edit_card_path(card), class: 'link-to-text-color' %></span>
    </div> <!-- Card Container -->
 <% end %>
