<header class="page-header">
  <h1>
    Cards
    <span class='card-header-link'> <%= link_to 'new card', new_card_path %></span>
  </h1>
</header>


<div class="scroller">
  <% idx = 0 %>
  <% @cards.each do |card| %>
    <% idx += 1 %>
    <div class="card-container item #{'active' if idx == 1}">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <span></span>
            <span class = "card-name"><%= card.name %></span>
          </div>

          <div class="face back">
             <p><%= card.first_ingredient %></p>
             <p><%= card.second_ingredient %></p>
             <p><%= card.third_ingredient %></p>
             <p><%= card.fourth_ingredient %></p>
             <p><%= card.fifth_ingredient %></p>
             <p><%= card.sixth_ingredient %></p>
             <p><%= card.mix_method %></p>
             <p><%= card.garnish %></p>
             <p><%= link_to 'Edit', edit_card_path(card.id) %></p>
          </div>
        </div> <!-- Card -->
      </div> <!-- Flip -->
    </div> <!-- Card Container -->
 <% end %>


</div>
