<header class="page-header">
  <h1>
    <span class='card-header-link'> <%= link_to 'New Card', new_card_path %></span>
        <%= link_to 'My Cards', user_path(current_user) %>
  </h1>
</header>

<div class="scroller">
  <% idx = 0 %>
  <% @cards.each do |card| %>
    <% idx += 1 %>
    <div class="card-container item #{'active' if idx == 1}">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <span></span>
            <span class = "card-name"><%= card.name %></span>
          </div>

          <div class="face back">
            <span class = "recipe">
             <p><%= card.first_ingredient %></p>
             <p><%= card.second_ingredient %></p>
             <p><%= card.third_ingredient %></p>
             <p><%= card.fourth_ingredient %></p>
             <p><%= card.fifth_ingredient %></p>
             <p><%= card.sixth_ingredient %></p>
             <p><%= card.mix_method %></p>
             <p><%= card.garnish %></p>
           </span>

          </div>
        </div> <!-- Card -->
      </div> <!-- Flip -->
      <% if current_user.id == card.user_id %>
       <%= link_to 'Edit', edit_card_path(card) %>
      <% end %>
    </div> <!-- Card Container -->
 <% end %>


</div>
